<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<servlet>
		<servlet-name>SavePersona</servlet-name>
		<servlet-class>pw2.Save</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SavePersona</servlet-name>
		<url-pattern>/save</url-pattern>
	</servlet-mapping>
	
   <servlet>
      <servlet-name>ListaPersona</servlet-name>
      <servlet-class>pw2.ListaPersona</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>ListaPersona</servlet-name>
      <url-pattern>/listapersonas</url-pattern>
   </servlet-mapping>
   

 <servlet>
      <servlet-name>listaadmin</servlet-name>
      <servlet-class>pw2.listaadmin</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>listaadmin</servlet-name>
      <url-pattern>/listaadmin</url-pattern>
   </servlet-mapping>
   
 <servlet>
      <servlet-name>editar</servlet-name>
      <servlet-class>pw2.editar</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>editar</servlet-name>
      <url-pattern>/editar</url-pattern>
   </servlet-mapping>
   
 <servlet>
      <servlet-name>listavendedor</servlet-name>
      <servlet-class>pw2.listavendedor</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>listavendedor</servlet-name>
      <url-pattern>/listavendedor</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>mostrar2</servlet-name>
      <servlet-class>pw2.mostrar2</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>mostrar2</servlet-name>
      <url-pattern>/modovendedor</url-pattern>
   </servlet-mapping>
   
    <servlet>
      <servlet-name>entrar</servlet-name>
      <servlet-class>pw2.entrar</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>entrar</servlet-name>
      <url-pattern>/entrar</url-pattern>
   </servlet-mapping>
    <servlet>
      <servlet-name>pasar</servlet-name>
      <servlet-class>pw2.pasar</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>pasar</servlet-name>
      <url-pattern>/pasar</url-pattern>
   </servlet-mapping>
   
 <servlet>
      <servlet-name>logout</servlet-name>
      <servlet-class>pw2.logout</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>logout</servlet-name>
      <url-pattern>/logout</url-pattern>
   </servlet-mapping>
   
	   <servlet>
      <servlet-name>Mostrar</servlet-name>
      <servlet-class>pw2.Mostrar</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Mostrar</servlet-name>
      <url-pattern>/mostrar</url-pattern>
   </servlet-mapping>
   
   
	


	
	<servlet>
		<servlet-name>SaveJuego</servlet-name>
		<servlet-class>pw2.SaveJuego</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveJuego</servlet-name>
		<url-pattern>/savejuego</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>ListaJuegos</servlet-name>
		<servlet-class>pw2.ListaJuegos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListaJuegos</servlet-name>
		<url-pattern>/listajuegos</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GmailPw2</servlet-name>
		<servlet-class>pw2.GmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GmailPw2</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Actualizar</servlet-name>
		<servlet-class>pw2.Actualizar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Actualizar</servlet-name>
		<url-pattern>/actualizar</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>paginaprincipal.html</welcome-file>
	</welcome-file-list>
</web-app>
